.backup/
.deps/
.idea/
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
jansson-*
jekyll/_site
jekyll/.sass-cache
jekyll/.jekyll-cache
jekyll/.jekyll-metadata
jekyll/vendor
libtool
m4/
stamp-h1
*.bak
*.dat
*.db
*.gz
*.json
*.log
*.o
*.tar
*.zip
